body {
	font-family: 'Bilbo Swash Caps', cursive !important;
	color: #FFFFFF !important;
}

.title {
	text-align: center;
	font-size: 400%
}

.icon {
	width: 220px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.tab {
	text-align: center;
	padding: 10px;
	font-size: 150%;
}

.tab:hover {
	background-color: #BBBBBB;
	color: #EEEEEE;
}

.selected {
	color: #444;
}

.background {
	background-color: #8C9A80;
	/*
	background-color: #9CAA90;*/
}

#main-image {
	padding: 0px;
}